/* src/components/Hero.css */

  .hero {
    background-image: url('../components/Picture1.jpg'); /* Adjust the path as needed */
    background-size: cover; /* Adjust background size if necessary */
    color: #fff; /* Set text color */
    padding: 100px; /* Adjust padding as needed */
    text-align: center;
  }
  
  .hero h1 {
    font-size: 36px; /* Set font size for the title */
  }
  
  .hero p {
    font-size: 18px; /* Set font size for the subtitle */
  }
  