/* .movie-card {
    width: 250px;
    height: 150px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stylecard{
    float: left;
    border-radius: 20px;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
  }